body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.page {
  max-width: 600px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  border-bottom: 3px solid #3fb635;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.avatar {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
}

/* dashboard */
.dashboard-category ul {
  display: flex;
  justify-content: space-between;
}
.dashboard-category ul li {
  padding: 0;
  width: 50%;
}
.dashboard-category button {
  width: 100%;
  background: #d9dee2;
  border: none;
  font-size: 16px;
  padding: 10px;
}
.dashboard-category button:hover {
  cursor: pointer;
}
.dashboard-category button.view-active {
  background: #bd8ee7;
  color: #fff;
}

.voted {
  background-color: #d9f4d9;
}
